html{
  min-height: 100%;
}


.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #000000;
    background-color: #ede5f5;
  }

  
  p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  
  body {
    background-color: #b1a4d9;;
  }
  
  #content{
    border: solid 1px #000000;
    background-color: #dcc8ec;
  }

  .output{
    font-family: cursive;
}

.homepage {
  color: #000000;
  
}

a:visited{
  color: #ffffff;
}

